    
    <!-- Begin page -->
    <div id="layout-wrapper">
        <app-header></app-header>
                <!-- ========== App Menu ========== -->
                <app-sidemenu></app-sidemenu>
                <!-- Left Sidebar End -->
                <!-- Vertical Overlay-->
                <div class="vertical-overlay"></div>
                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                        <h4 class="mb-sm-0">Time Tracking</h4>
                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><span style="font-weight: 600;">Home</span> </a><i class="ri-arrow-right-s-line"></i> </li>
                                                <li style="color:#878a99;">
                                                    <a href="#" style="color:rgb(10, 179, 156);">Time Tracking</a>
                                                 </li>  
                                            </ol>
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                            <div class="row" style=" justify-content: center;">
                            <div class="col-xl-4">
                                <div class="card card-height-100"  style="overflow: scroll Property">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1" style="font-size: 15px;">MY VIEW</h4>
                                    </div><!-- end card header -->
        
                                    <div class="card-body p-0">
                                        <div data-simplebar style="max-height: 350px;">
                                            <ul class="list-group list-group-flush border-dashed">
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                        <div class="flex-grow-1">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body" style="background-color: #f3f6f9;" onclick="location.href='viewbiometricdata'">
                                                                            <div class="d-flex justify-content-between">
                                                                                <div>
                                                                                    <p class="fw-medium text-muted mb-0"></p>
                                                                                    <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>VIEW BIOMETRIC DATA</span></h3>
                                                                                    <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0"></span></p>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="avatar-sm flex-shrink-0">
                                                                                        <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                           <img src="assets\styles\img\fingerprint.png" alt="" width="25px" height="25px">
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div> <!-- end card-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-center">
                                                        
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body"  style="background-color: #f3f6f9;">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                                <p class="fw-medium text-muted mb-0"></p>
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>VIEW ATTENDANCE DATA</span></h3>
                                                                                <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0"></span> </p>
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <i data-feather="user-check" class="text-info1"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                       
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body" style="background-color: #f3f6f9;" onclick="location.href='regularization'">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                                <p class="fw-medium text-muted mb-0"></p>
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>REGULARIZATION</span></h3>
                                                                                <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0"></span></p>
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <i data-feather="git-pull-request" class="text-info1"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div> 
                                                        </div>
                                                        
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                      
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body" style="background-color: #f3f6f9;" onclick="location.href='overtime'">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                         
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>OT REQUESTS</span></h3>
                                    
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <img src="assets\styles\img\overtime.png" alt="" width="30px" height="30px">
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>

                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                      
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body" style="background-color: #f3f6f9;" onclick="location.href='compensation'">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                         
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>COMP OFF REQUESTS</span></h3>
                                    
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <img src="assets\styles\img\overtime.png" alt="" width="30px" height="30px">
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                      
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body" style="background-color: #f3f6f9;" onclick="location.href='attendancefinalization'">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                         
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>ATTENDANCE FINALIZATION</span></h3>
                                    
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <img src="assets\styles\img\overtime.png" alt="" width="30px" height="30px">
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                       
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body" style="background-color: #f3f6f9;">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                                <p class="fw-medium text-muted mb-0"></p>
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>VIEW REPORTS</span></h3>
                                    
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <i data-feather="file-text" class="text-info1"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>
                                             
                                            </ul><!-- end ul -->
                                        </div>
                                        <div class="p-3 pt-2 text-center">
                                            <a href="javascript:void(0);" class="text-muted" style="font-size: 12px;">Scroll Into View More</a>
                                        </div>
                                    </div><!-- end card body -->
                                   
                                </div><!-- end card -->
                            </div>
                            <div class="col-xl-4">
                                <div class="card card-height-100">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1" style="font-size: 15px;">ROLE VIEW</h4>
                                    </div><!-- end card header -->
        
                                    <div class="card-body p-0">
                                        <div data-simplebar style="max-height: 350px;">
                                            <ul class="list-group list-group-flush border-dashed">
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                        <div class="flex-grow-1">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="card card-animate">
                                                                        <div class="card-body" style="background-color: #f3f6f9;">
                                                                            <div class="d-flex justify-content-between">
                                                                                <div>
                                                                                    <p class="fw-medium text-muted mb-0"></p>
                                                                                    <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>BIOMETRIC DATA</span></h3>
                                                                                    <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0"></span></p>
                                                                                </div>
                                                                                <div>
                                                                                    <div class="avatar-sm flex-shrink-0">
                                                                                        <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                           <img src="assets\styles\img\fingerprint.png" alt="" width="25px" height="25px">
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!-- end card body -->
                                                                    </div> <!-- end card-->
                                                                </div>
                                                            </div>
                                                        </div>       
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-center">
                                                        
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body"  style="background-color: #f3f6f9;">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                                <p class="fw-medium text-muted mb-0"></p>
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>MANAGE REQUESTS</span></h3>
                                                                                <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0"></span> </p>
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <i data-feather="user-check" class="text-info1"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-center">
                                                        
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body"  style="background-color: #f3f6f9;" onclick="location.href='shiftassignment'">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                                <p class="fw-medium text-muted mb-0"></p>
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>SHIFT ASSIGNMENT</span></h3>
                                                                                <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0"></span> </p>
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <img src="assets\styles\img\user-account.png" alt="" width="35px" height="35px">
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>
                                            
                                            
                                                <li class="list-group-item" style="padding-bottom:5px;height:93px;padding-top:5px;">
                                                    <div class="d-flex align-items-start">
                                                       
                                                        <div class="flex-grow-1">
                                                            <div class="col-md-12">
                                                                <div class="card card-animate">
                                                                    <div class="card-body" style="background-color: #f3f6f9;" onclick="location.href='reportsandtimesheets'">
                                                                        <div class="d-flex justify-content-between">
                                                                            <div>
                                                                                <p class="fw-medium text-muted mb-0"></p>
                                                                                <h3 class="mt-4 ff-secondary fw-semibold" style="font-size: 11px;"><span>REPORTS -TIMESHEETS </span></h3>
                                    
                                                                            </div>
                                                                            <div>
                                                                                <div class="avatar-sm flex-shrink-0">
                                                                                    <span class="avatar-title bg-info-subtle rounded-circle fs-2">
                                                                                        <i data-feather="file-text" class="text-info1"></i>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- end card body -->
                                                                </div> <!-- end card-->
                                                            </div>
                                                        </div>
                                                      
                                                    </div>
                                                </li>
                                             
                                            </ul><!-- end ul -->
                                        </div>
                                        <div class="p-3 pt-2 text-center">
                                            <a href="javascript:void(0);" class="text-muted" style="font-size: 12px;">Scroll Into View More</a>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div>
                            </div>
                            <!-- end page title -->
                          
                        </div>
                        <!-- container-fluid -->
                    </div>
                        <div class="container-fluid">
        
                        
                    <!-- End Page-content -->
                    <app-footer></app-footer>
                </div>
                <!-- end main content-->
            </div>
            <!-- END layout-wrapper -->
        

