.linehtsty
{
   height: 45px;
   font-size: 14px;
}

input[type="text"]:focus {
   outline: none;
}

.fcolour
{
   font-size: 20px;
   color: #000000;
   // font-weight: 600;
}

.hdclr
{
   font-weight: 600;
   color: #0c77ad !important;
}

.bordrsty
{
   border: 1px solid #1a6fd8;
}

.img-sizes {
   width: 250px;
   // height: 130px;
}

.payslip
{
   font-size: 20px;
   color: #000000;
   font-weight: 800 !important;
}
