
    <!-- Begin page -->
<div id="layout-wrapper">
     
    <app-header></app-header>

        <!-- ========== App Menu ========== -->
      
        <app-sidemenu></app-sidemenu>

        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content" style="overflow-x: hidden;">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card mt-n4 mx-n4 mb-n5">
                                <div class="bg-info-subtle">
                                    <div class="card-body pb-4 mb-5">
                                        <div class="row">
                                            <div class="col-md">
                                                <div class="row align-items-center">
                                                    <div class="d-flex align-items-center ma-5">
                                                        <div class="flex-shrink-0">
                                                            <div class="avatar-sm">
                                                                <span class="avatar-title bg-info-subtle">
                                                                    <img src="assets\styles\img\icons8-add-properties-48.png" alt="" width="100%">
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1 ms-2 ma-5">
                                                            <h2 class="fs-16 mb-1 font-type fw-semibold text-uppercase">Add Assessment</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end row-->
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </div><!-- end card body -->
                                </div>
                            </div><!-- end card -->
                        </div><!-- end col -->
                    </div>

                    <div class="card topbar-up">
                        <div class="card-body">
                        <div class="border border-dashed rounded p-3 pa-0 mb-2">
                            <div class="row">
                                <div class="col-md-6 col-lg-4 pt-1">
                                            <h6 class="fs-12 font-type fw-semibold">Training Name : </h6>
                                            <input type="text" class="form-control search h-30 textbox-15 font-type bg-light"  value="{{this.listTrainingDtls.SUBJECT_NAME}}" readonly>

                                            <input type="hidden"   value="{{this.listTrainingDtls.TRAINING_ID}}" name="training_id" id="training_id"  readonly>
                                            
                                </div>
                                <div class="col-md-6 col-lg-2 pt-1">
                                    <h6 class="fs-12 font-type fw-semibold">No. of Questions</h6>
                                    <input type="text" class="form-control search h-30 textbox-15 font-type"  [(ngModel)]="fetchTrainingOnload.NO_OF_QUESTIONS"  name="noquestion" id="noquestion"  placeholder="0"> 
                                    <!-- <small *ngIf="!isNumeric(fetchTrainingOnload.NO_OF_QUESTIONS)" class="text-danger">Pass score must be numeric.</small>  -->
                                    <input type="hidden" class="form-control search h-30 textbox-15 font-type"  [(ngModel)]="fetchTrainingOnload.ASSESSMENT_ID"  name="assmId" id="assmId"  placeholder="0"> 
                                </div>
                                <div class="col-md-6 col-lg-2 pt-1">
                                            <h6 class="fs-12 font-type fw-semibold">Passing Score</h6>
                                            <input type="text" class="form-control search h-30 textbox-15 font-type"  [(ngModel)]="fetchTrainingOnload.PASS_SCORE"  name="passscore" id="passscore"  placeholder="0">    
                                            <!-- <small *ngIf="!isNumeric(fetchTrainingOnload.DURATION)" class="text-danger">Duration must be numeric.</small> -->
                                </div>
                                <div class="col-md-6 col-lg-2 pt-1">
                                            <h6 class="fs-12 font-type fw-semibold"> Total Attempts</h6>
                                            <input type="text" class="form-control search h-30 textbox-15 font-type" [(ngModel)]="fetchTrainingOnload.NO_OF_ATTEMPTS"  name="noattempts" id="noattempts"  placeholder="0">
                                 </div>
                                 <div class="col-md-6 col-lg-2 pt-1">
                                            <h6 class="fs-12 font-type fw-semibold">Duration</h6>
                                            <input type="text" class="form-control search h-30 textbox-15 font-type" [(ngModel)]="fetchTrainingOnload.DURATION"  name="duration" id="duration"  placeholder="0">
                                 </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pt-1 mb-0">
                            <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-orange btn-label right ms-auto nexttab nexttab font-type text-white"  (click)="addassessmentDetails()" *ngIf="this.addUpdateSts==0"><i class="ri-add-circle-line label-icon align-middle fs-16 ms-2"></i>Add</button>
                            <button type="button" class="btn btn-orange btn-label font-type text-white"  (click)="updateassessmentDetails()" *ngIf="this.addUpdateSts==1"><i class="ri-add-circle-line label-icon align-middle fs-16 ms-2"></i>Update</button>
                            <button type="button" class="btn btn-blue btn-label right  nexttab  nexttab font-type text-white"><i class="ri-close-circle-line label-icon align-middle fs-16 ms-2"></i>Cancel</button>
                            </div>
                        </div>
                        </div>
                    </div>
                        
                    <!-- LIST-->
                        <div class="row" style="justify-content: center;">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">
                                        <div class="card-header" style="padding:10px">
                                            <div class="row align-items-center gy-3">
                                                <div class="col-sm">
                                                    <div class="align-items-center d-flex ">
                                                        <h4 class="card-title mb-0 flex-grow-1 fs-15 font-type fw-semibold">Assessment Details</h4>          
                                                    </div>
                                                </div>
                                                <div class="col-sm-auto">
                                                    <div class="d-flex gap-1 flex-wrap">
                                                        <div class="search-box me-2 mb-2 d-inline-block">
                                                            <div class="position-relative">
                                                                <input type="text" class="form-control searchInput"  id="searchInput" style="width: 245px;" [(ngModel)]="searchInput"  name="searchInput" placeholder="Search..." aria-label="search" aria-describedby="search_icon">
                                                                <i class="ri-search-line search-icon"></i>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <button type="button" class="btn btn-success text-white h-30 font-type" id="btn_assign" style="display: none;"> <i class="ri-check-line align-bottom me-1"></i>Assign Assessment</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body margin-up-5">
                                            <div class="table-responsive table-card mb-0">
                                                <table class="table table-nowrap align-middle table-hover border-orange table-bordered">
                                                        <thead class="table-light text-white font-type">
                                                        <tr>
                                                            <!-- <th></th> -->
                                                            <th>Assessment ID</th>
                                                            <th>Training Name</th>
                                                            <th class="text-center">No of <br/>Questions</th>
                                                            <th class="text-center">Passing <br/> Score</th>
                                                            <th class="text-center">Total <br/> Attempts</th>
                                                            <th>Duration</th>
                                                            <th class="text-center">Last <br/> Updated On</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="list form-check-all font-type fs-11">
                                                        <tr class="font-type h-30" *ngFor="let FetchTr of fetchTrainingOnload | search : searchInput; index as i;">
                                                            <!-- <td>
                                                                <div class="form-check form-radio-danger">
                                                                    <input class="form-check-input" type="radio"  id="radio1" name="formradio" onclick="show1()">
                                                                </div>
                                                            </td> -->
                                                            <td class="fw-semibold">{{FetchTr.ASSESSMENT_ID}}</td>
                                                            <td style="white-space: pre-wrap;">{{this.listTrainingDtls.SUBJECT_NAME}}</td>
                                                            <td class="text-center">{{FetchTr.NO_OF_QUESTIONS}}</td>
                                                            <td class="text-center">{{FetchTr.PASS_SCORE}}</td>
                                                            <td class="text-center">{{FetchTr.NO_OF_ATTEMPTS}}</td>
                                                            <td class="text-center">{{FetchTr.DURATION}}</td>
                                                            <td class="text-center">{{FetchTr.UPDATED_DT | date:"dd-MM-yyyy"}}</td>
                                                            <td>
                                                                <ul class="list-inline hstack gap-1 mb-0">
                                                                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                                                                        <a  class="text-blue d-inline-block edit-item-btn"  (click)="dataforEdit(FetchTr)">
                                                                            <i class="ri-pencil-fill fs-16"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Add/View Questionnaire">
                                                                        <a  class="text-success d-inline-block" (click)="navigateTo_QuestPage(this.listTrainingDtls.TRAINING_ID,FetchTr.ASSESSMENT_ID,FetchTr.NO_OF_QUESTIONS)">
                                                                            <i class="ri-question-fill fs-20"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                                                                        <a class="text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#CancelModal" (click)="removeAssessment(FetchTr.ASSESSMENT_ID,this.listTrainingDtls.TRAINING_ID)">
                                                                            <i class="ri-delete-bin-5-fill fs-18"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </td>
                                                        </tr>  
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- <div *ngIf="fetchTrainingOnload"> -->
                                                <div class="align-items-center justify-content-between row text-center text-sm-start" *ngIf="totalSearchResults>0">
                                                    <div class="col-sm">
                                                      <div class="font-type fs-12 text-muted">
                                                        Showing <span class="fw-semibold">{{ getEntriesStart() }}</span>
                                                        - <span class="fw-semibold">{{ getEntriesEnd() }}</span>
                                                        of <span class="fw-semibold">{{ totalSearchResults }}</span> Results
                                                      </div>
                                                    </div>
                                                    <div class="col-sm">
                                                        <div class="font-type fs-12 text-muted">
                                                            Total Pages : <span class="fw-semibold"> {{ getTotalPages() }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-auto mt-4 mt-sm-0">
                                                        <div class="d-flex gap-1 flex-wrap">
                                                            <div>
                                                                <div class="input-group">
                                                        <input type="number" class="form-control h-20 font-type" style="width:100px" aria-describedby="button-addon2" placeholder="Go to Page" [(ngModel)]="desiredPage" tabindex="1">                                                                    
                                                        
                                                       <button class="btn btn-orange text-white font-type fs-12 h-20" type="button" id="button-addon2"(click)="goToPage()" tabindex="2">Go</button>
                                                  </div>
                                                </div>
                                                     
                                                    <div class="col-sm-auto mt-3 mt-sm-0">
                                                      <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                                                        <li class="page-item">
                                                          <button class="page-link" (click)="changePage(currentPage - 1)" [class.disabled-button]="currentPage === 1">←</button>
                                                        </li>
                                                        <ng-container *ngFor="let pageNumber of getPageNumbers(currentPage)">
                                                          <li class="page-item">
                                                            <button class="page-link" (click)="changePage(pageNumber)" [class.active]="currentPage === pageNumber">{{ pageNumber }}</button>
                                                          </li>
                                                        </ng-container>
                                                        <li class="page-item">
                                                          <button class="page-link" (click)="changePage(currentPage + 1)" [class.disabled-button]="currentPage * itemsPerPage >= totalSearchResults">→</button>
                                                        </li>
                                                      </ul>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                <!-- </div> -->
                                        </div>
                                    </div>
                                </div><!--end col-->
                        </div>
                        <!--END LIST -->
                </div>
                <!-- container-fluid -->   
                </div>
                <!-- End Page-content -->

                <!--Delete Entry Model-->
                  <div class="modal fade zoomIn" id="CancelModal" tabindex="-1" aria-labelledby="CancelModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-orange padding-up-5">
                                <button type="button" class="btn-close" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body text-center">
                                <div class="text-center">
                                    <h5 class="fs-13 font-type">You are about to delete an entry ?</h5>
                                    <p class="text-muted fs-12 mb-2 pt-1 font-type">Do you want to continue?</p>
                                    <div class="hstack gap-2 justify-content-center remove">   
                                        <button class="btn btn-success font-type" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close">No, Go back!</button>
                                        <button class="btn btn-danger font-type" (click)="ConfirmRemoveAsssement(this.assemntId,this.trId)">Yes, Continue</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Delete Entry Model-->

                <!-- success model -->

 <button id="openModalButtonForalertsuccess"  [hidden]="true" data-bs-toggle="modal" data-bs-target="#SuRecordModals">Open Modal</button>
  
 <div class="modal fade zoomIn" id="SuRecordModals" tabindex="-1" aria-labelledby="SaveModal" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
             <div class="modal-header bg-orange padding-up-5">
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
             </div>
             <div class="modal-body text-center padding-down-5"  *ngIf="showModals==1">
                 
                 <div class="text-center">
                     <h5 class="fs-13 font-type">{{successs}}</h5>
                 </div>
             </div>
             <div class="modal-body text-center padding-down-5"  *ngIf="showModals==2">
                 
                <div class="text-center">
                    <h5 class="fs-13 font-type">{{faileds}}</h5>
                </div>
            </div>
         </div>
     </div>
 </div>

                <app-footer></app-footer>

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
