   <!-- Begin page -->
   <div id="layout-wrapper">
    <app-header></app-header>
    <!-- ========== App Menu ========== -->
    <app-sidemenu></app-sidemenu>  
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content" style="overflow-x: hidden;">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mt-n4 mx-n4 mb-n5">
                            <div class="bg-info-subtle">
                                <div class="card-body pb-4 mb-5">
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="row align-items-center">
                                                <div class="d-flex align-items-center ma-5">
                                                    <div class="flex-shrink-0">
                                                        <div class="avatar-sm">
                                                            <span class="avatar-title bg-info-subtle">
                                                                <img src="assets/styles/img/icons8-training-100 (1).png" alt="" width="100%">
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-grow-1 ms-2 ma-5">
                                                        <h2 class="fs-16 mb-1 font-type fw-semibold text-uppercase">Trainings</h2>
                                                    </div>                                                    
                                                </div>
                                            </div>
                                            <!--end row-->
                                        </div>
                                    </div>
                                    <!--end row-->
                                </div><!-- end card body -->
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>          

                            <!-- TEAM -->
                             <div class="row topbar-up" id="divTeam">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header pa-6-8">
                                            <div class="row align-items-center gy-3">
                                                <div class="col-sm">
                                                    <div class="d-flex gap-1 flex-wrap">
                                                        <div class="search-box">
                                                            <input type="text" class="form-control search h-30 textbox-15 font-type" placeholder="Search..." [(ngModel)]="searchInput">
                                                            <i class="ri-search-line search-icon"></i>
                                                        </div>
                                                        <div class="col-sm-3">                                                            
                                                                <select class="form-select font-type fs-12 textbox-15 h-30" [(ngModel)]="selectedCompanyid" (change)="filter()">
                                                                    <option value="-1" selected disabled >Company Name</option>
                                                                    <option *ngFor="let combo of companydata" [value]="combo.KEY_ID">{{ combo.DATA_VALUE }}</option>
                                                                </select> 
                                                        </div>
                                                        <div>
                                                            <select class="form-select h-30 font-type textbox-15"[(ngModel)]="selectedyearTeam" (change)="filter()">
                                                                <option value="-1" selected disabled>Year</option>
                                                                <option *ngFor="let combo of yeardata" [value]="combo.DISPLAY_FIELD">{{ combo.DISPLAY_FIELD }}</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <select class="form-select font-type fs-12 textbox-15 h-30" [(ngModel)]="selectedstatus" (change)="filter()">
                                                                <option value="" selected disabled>Status</option>                                                                
                                                                <option *ngFor="let combo of statusdata" [value]="combo.KEY_ID" [hidden]="combo.KEY_ID == 0 || combo.KEY_ID == 1 || combo.KEY_ID == 4 || combo.KEY_ID == 6">{{ combo.DATA_VALUE }}</option>
                                                            </select>
                                                             
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-auto">
                                                    <a href="#" class="btn btn-orange btn-sm font-type fs-13 font-type text-white" data-bs-toggle="modal" id="AddRequestModalTeam-btn" (click)="validateCompany()"><i class="ri-file-add-line align-middle me-1"></i>New Request</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive table-card mb-0">
                                                <table class="table table-nowrap align-middle table-bordered border-orange table-hover">
                                                    <thead class="font-type table-light text-white">
                                                    <tr class="text-center">
                                                        <th>SL No</th>
                                                        <th>Areas</th>
                                                        <th>Training Name</th>
                                                        <th scope="col" class="bg-blue fs-12 font-type">Employee</th>
                                                        <th>Convenient<br>Schedule</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>   
                                                </thead>
                                                <tbody class="list form-check-all font-type fs-11">
                                                <ng-container *ngFor="let item of tabledata | search : searchInput | pagination: currentPage: itemsPerPage; let i=index">
                                                <tr class="font-type" *ngFor="let employee of item.Employees; let isFirst = first;">
                                                    <ng-container *ngIf="isFirst">
                                                        <td [attr.rowspan]="item.Employees.length">{{i+1}}</td>
                                                        <td [attr.rowspan]="item.Employees.length" style="white-space: pre-wrap;">{{item.AREA_NAME}}</td>
                                                        <td [attr.rowspan]="item.Employees.length" style="white-space: pre-wrap;">{{item.SUBJECT_NAME}}</td>
                                                        <td class="p-1">{{employee.EMP_NAME}}</td>
                                                        <td [attr.rowspan]="item.Employees.length">{{item.PROPOSED_QUARTER}}</td>
                                                        <td [attr.rowspan]="item.Employees.length" class="status">
                                                            <span [ngStyle]="getStatusStyles(item.PLAN_STATUS)" class="badge text-white width-budge fs-11 fw-medium">{{item.PLAN_STATUS_VAL}}</span>
                                                        </td>
                                                        <td [attr.rowspan]="item.Employees.length">
                                                                <ul class="list-inline hstack gap-0 mb-0">
                                                                    <!-- <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit Details" [hidden]="item.PLAN_STATUS==3">
                                                                        <a href="#EditRequestModalTeam" data-bs-toggle="modal" class="text-primary d-inline-block edit-item-btn">
                                                                            <i class="ri-edit-circle-fill fs-22 text-orange text-center"></i>
                                                                        </a>
                                                                     </li> -->

                                                                     <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Approve Training" *ngIf="item.PLAN_STATUS==2">
                                                                        <a href="#EditRequestModalTeam" data-bs-toggle="modal" class="text-primary d-inline-block" (click)="itemToEdit(item)">
                                                                            <i class="ri-checkbox-circle-fill fs-22 text-success text-center"></i>
                                                                        </a>
                                                                     </li> 

                                                                     <li class="list-inline-item gap-0 mb-0" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Hold Training"*ngIf="item.PLAN_STATUS==2||item.PLAN_STATUS==3">
                                                                        <a href="#" data-bs-toggle="modal" class="text-primary d-inline-block"(click)="hold(item)">
                                                                            <i class="ri-pause-circle-fill fs-24 text-warning text-center"></i>
                                                                        </a>
                                                                    </li>

                                                                     <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Reject" *ngIf="item.PLAN_STATUS==2||item.PLAN_STATUS==3">
                                                                        <a class="remove-item-btn" data-bs-toggle="modal" href="#RejectModal"(click)="itemToEdit(item)">
                                                                           <i class="ri-close-circle-fill fs-22 text-dark text-center"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item expandChildTable" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Training Details" *ngIf="item.PLAN_STATUS==5||item.PLAN_STATUS==8">
                                                                        <a href="#viewTrainingDetailsTeam" class="d-inline-block"  data-bs-toggle="modal" (click)="viewDetails(item.TRAINING_ID)">
                                                                            <i class="ri-eye-fill fs-22 text-success text-center"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li class="list-inline-item text-center" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Resume Training" *ngIf="item.PLAN_STATUS==10">
                                                                        <a href="#" data-bs-toggle="modal" class="text-primary d-inline-block" (click)="resume(item)">
                                                                            <i class="ri-restart-fill fs-22 text-success text-center"></i>
                                                                        </a>
                                                                    </li>
                                                                 </ul>
                                                    </td>
                                                    
                                                </ng-container>
                                                <ng-container *ngIf="!isFirst">
                                                    <td class="p-1">{{employee.EMP_NAME}}</td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>
                                        
                                        
                                   
                                    </tbody>
                                            </table>
                                        </div>
                                        <div *ngIf="tabledata">
                                            <div class="align-items-center justify-content-between row text-center text-sm-start" *ngIf="totalSearchResults>0">
                                                <div class="col-sm">
                                                  <div class="font-type fs-12 text-muted">
                                                    Showing <span class="fw-semibold">{{ getEntriesStart() }}</span>
                                                    - <span class="fw-semibold">{{ getEntriesEnd() }}</span>
                                                    of <span class="fw-semibold">{{ totalSearchResults }}</span> Results
                                                  </div>
                                                </div>
                                                <div class="col-sm">
                                                    <div class="font-type fs-12 text-muted">
                                                        Total Pages : <span class="fw-semibold"> {{ getTotalPages() }}</span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-auto mt-4 mt-sm-0">
                                                    <div class="d-flex gap-1 flex-wrap">
                                                        <div>
                                                            <div class="input-group">
                                                    <input type="number" class="form-control h-20 font-type" style="width:100px" aria-describedby="button-addon2" placeholder="Go to Page" [(ngModel)]="desiredPage" tabindex="1">                                                                    
                                                    
                                                   <button class="btn btn-orange text-white font-type fs-12 h-20" type="button" id="button-addon2"(click)="goToPage()" tabindex="2">Go</button>
                                              </div>
                                            </div>
                                                 
                                                <div class="col-sm-auto mt-3 mt-sm-0">
                                                  <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                                                    <li class="page-item">
                                                      <button class="page-link" (click)="changePage(currentPage - 1)" [class.disabled-button]="currentPage === 1">←</button>
                                                    </li>
                                                    <ng-container *ngFor="let pageNumber of getPageNumbers(currentPage)">
                                                      <li class="page-item">
                                                        <button class="page-link" (click)="changePage(pageNumber)" [class.active]="currentPage === pageNumber">{{ pageNumber }}</button>
                                                      </li>
                                                    </ng-container>
                                                    <li class="page-item">
                                                      <button class="page-link" (click)="changePage(currentPage + 1)" [class.disabled-button]="currentPage * itemsPerPage >= totalSearchResults">→</button>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                    </div>
                                </div>
                                        </div>
                                        </div>
                                    </div>
                                </div><!--end col-->
                             </div>
                             <!-- END TEAM -->
            </div>
            <!-- container-fluid -->   
            </div>
            <!-- End Page-content -->        

            <app-footer></app-footer>

            <!--TEAM MODEL BOXES-->
            <button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#SuccessRecordModal">Open Modal</button> 
            <button id="openAddReqModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#AddRequestModalTeam">Open Modal</button>
             <!--Modal For Success Message Start-->
        <div class="modal fade zoomIn" id="SuccessRecordModal" tabindex="-1" aria-labelledby="deleteRecordLabel" aria-hidden="true" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-orange padding-up-5">
                        <h5 class="modal-title" id="exampleModalLabel">&nbsp;</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                    </div>
                    <div class="modal-body" *ngIf="showModal==1"> 
                        <div class="container">
                            <h2 class="text-center" style="font-size: 12px;"><i class="fa fa-check-circle text-success" style="font-size: 25px;" style="font-size: 12px;"></i> {{success}}</h2>
                    
                        </div>
                    </div>
                    <div class="modal-body" *ngIf="showModal==2">
                    <div class="container">
                        <h2 class="text-center" style="font-size: 12px;"><i class="fa fa-times-circle text-danger" style="font-size: 25px;" style="font-size: 12px;"></i> {{failed}}</h2>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
    <!--Modal For Success Message End--> 
             <!--Add Training Request Model Team-->
             <div class="modal fade zoomIn " id="AddRequestModalTeam" tabindex="-1" aria-labelledby="AddRequestModalTeam" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header bg-orange padding-up-5">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"(click)="cancelAddReq()"></button>
                        </div>
                        <form [formGroup]="requestForm" (ngSubmit)="submitForm()">
                            <div class="modal-body">
                                <input type="hidden" id="id-field" formControlName="id" />
                                <div class="row topbar-up mb-2">
                                    <div class="col-lg-3 pt-2" [class.has-error]="requestForm.get('area_id')?.invalid && requestForm.get('area_id')?.touched">
                                        <h6 class="font-type fs-12 fw-semibold"><span>Areas</span></h6>
                                        <select class="form-select h-30 font-type textbox-15" formControlName="area_id">
                                            <option value="">Select</option>
                                            <option *ngFor="let combo of areadata" [value]="combo.KEY_ID">{{ combo.DATA_VALUE }}</option>
                                        </select>
                                        <div *ngIf="requestForm.get('area_id')?.invalid && requestForm.get('area_id')?.touched" class="text-danger">
                                            Please select an area.
                                        </div>
                                    </div>
                                    <div class="col-lg-3 pt-2" [class.has-error]="requestForm.get('training_subject')?.invalid && requestForm.get('training_subject')?.touched">
                                        <h6 class="fs-12 font-type fw-semibold"><span>Training Name</span></h6>
                                        <select class="form-select font-type fs-12 textbox-15" formControlName="training_subject">
                                            <option value="">Select</option>
                                            <option *ngFor="let combo of trainingname" [value]="combo.VALUE_FIELD">{{ combo.DISPLAY_FIELD }}</option>
                                        </select>
                                        <div *ngIf="requestForm.get('training_subject')?.invalid && requestForm.get('training_subject')?.touched" class="text-danger">
                                            Please select a training name.
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pt-2" [class.has-error]="requestForm.get('empcode')?.invalid && requestForm.get('empcode')?.touched">
                                        <h6 class="fs-12 font-type fw-semibold"><span>Employee</span></h6>
                                        <ng-multiselect-dropdown #dropdown [settings]="dropdownSettings" [data]="employeelist" formControlName="empcode">
                                        </ng-multiselect-dropdown>
                                        <div *ngIf="requestForm.get('empcode')?.invalid && requestForm.get('empcode')?.touched" class="text-danger">
                                            Please select an employee.
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-3 pt-2" [class.has-error]="requestForm.get('training_type')?.invalid && requestForm.get('training_type')?.touched">
                                        <h6 class="fs-12 font-type fw-semibold"><span>Provider</span></h6>
                                        <select class="form-select font-type fs-12 textbox-15" formControlName="training_type">
                                            <option value="">Select</option>
                                            <option *ngFor="let combo of providerdata" [value]="combo.KEY_ID">{{ combo.DATA_VALUE }}</option>
                                        </select>
                                        <div *ngIf="requestForm.get('training_type')?.invalid && requestForm.get('training_type')?.touched" class="text-danger">
                                            Please select a provider.
                                        </div>
                                    </div>
                                    <div class="col-lg-3 pt-2" [class.has-error]="requestForm.get('proposed_quarter')?.invalid && requestForm.get('proposed_quarter')?.touched">
                                        <h6 class="fs-12 font-type fw-semibold"><span>Convenient Schedule</span></h6>
                                        <select class="form-select h-30 font-type textbox-15" formControlName="proposed_quarter">
                                            <option value="">Select</option>
                                            <option *ngFor="let combo of scheduledata" [value]="combo.KEY_ID">{{ combo.DATA_VALUE }}</option>
                                        </select>
                                        <div *ngIf="requestForm.get('proposed_quarter')?.invalid && requestForm.get('proposed_quarter')?.touched" class="text-danger">
                                            Please select a convenient schedule.
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pt-2" [class.has-error]="requestForm.get('remarks')?.invalid && requestForm.get('remarks')?.touched">
                                        <h6 class="fs-12 font-type fw-semibold"><span>Remarks</span></h6>
                                        <textarea class="form-control textbox-15" formControlName="remarks" required></textarea>
                                        <div *ngIf="requestForm.get('remarks')?.invalid && requestForm.get('remarks')?.touched" class="text-danger">
                                            Remarks are required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pt-2">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="submit" class="btn btn-orange btn-label right ms-auto nexttab nexttab font-type">
                                          <i class="ri-check-double-line label-icon align-middle fs-16 ms-2"></i>Submit
                                        </button>                 
                                        <button type="button" class="btn btn-blue btn-label right  nexttab  nexttab font-type"(click)="cancelAddReq()"><i
                                                class="ri-close-circle-line label-icon align-middle fs-16 ms-2"></i>Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div> 
             <!--End Training Request Model Team-->
                <!--Edit Training Request Model Team-->
                <div class="modal fade zoomIn " id="EditRequestModalTeam" tabindex="-1" aria-labelledby="EditRequestModalTeam" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header bg-orange padding-up-5">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"(click)="cancelEditForm()"></button>
                            </div>
                            <form class="tablelist-form" autocomplete="off" [formGroup]="EditForm" >
                                <div class="modal-body">
                                    <input type="hidden" id="id-field" />
                                    <div class="row mb-2">
                                        <div class="col-lg-3 pt-2" [class.has-error]="EditForm.get('training_type')?.invalid && requestForm.get('training_type')?.touched">
                                            <h6 class="fs-12 font-type fw-semibold"><span>Provider</span></h6>
                                            <select class="form-select font-type fs-12 textbox-15" formControlName="training_type">
                                                <option value="">Select</option>
                                                <option *ngFor="let combo of providerdata" [value]="combo.KEY_ID">{{ combo.DATA_VALUE }}</option>
                                            </select>
                                            <div *ngIf="EditForm.get('training_type')?.invalid && EditForm.get('training_type')?.touched" class="text-danger">
                                                Please select a provider.
                                            </div>
                                        </div>
                                        <div class="col-lg-3 pt-2" [class.has-error]="EditForm.get('proposed_quarter')?.invalid && EditForm.get('proposed_quarter')?.touched">
                                            <h6 class="fs-12 font-type fw-semibold"><span>Convenient Schedule</span></h6>
                                            <select class="form-select h-30 font-type textbox-15" formControlName="proposed_quarter">
                                                <option value="">Select</option>
                                                <option *ngFor="let combo of scheduledata" [value]="combo.KEY_ID">{{ combo.DATA_VALUE }}</option>
                                            </select>
                                            <div *ngIf="EditForm.get('proposed_quarter')?.invalid && EditForm.get('proposed_quarter')?.touched" class="text-danger">
                                                Please select a convenient schedule.
                                            </div>
                                        </div>
                                        <div class="col-lg-6 pt-2" [class.has-error]="EditForm.get('remarks')?.invalid && EditForm.get('remarks')?.touched">
                                            <h6 class="fs-12 font-type fw-semibold"><span>Remarks</span></h6>
                                            <textarea class="form-control textbox-15" formControlName="remarks" required></textarea>
                                            <div *ngIf="EditForm.get('remarks')?.invalid && EditForm.get('remarks')?.touched" class="text-danger">
                                                Remarks are required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 pt-2">
                                            <div class="hstack gap-2 justify-content-center">
                                            <button type="submit" class="btn btn-orange  right ms-auto nexttab nexttab font-type "(click)="validateEditForm(-1)" >Edit & Approve</button>
                                            <button type="button" class="btn btn-blue  right nexttab nexttab font-type" (click)="submitEditForm(1)">Proceed without Editing</button>
                                            </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
                 <!--End Edit Training Request Model Team-->                 
                  <!-- Reject Model-->
                    <div class="modal fade zoomIn" id="RejectModal" tabindex="-1" aria-labelledby="RejectModal" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header bg-orange padding-up-5">
                                    <button type="button" class="btn-close" id="deleteRecord-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"(click)="clearReject()"></button>
                                </div>
                                <form class="tablelist-form" autocomplete="off" [formGroup]="CancelForm">
                                    <div class="modal-body">
                                        <input type="hidden" id="id-field" />
                                        <div class="mb-3" [class.has-error]="CancelForm.get('reason')?.invalid && CancelForm.get('reason')?.touched">
                                            <label class="form-label font-type">Reason</label>
                                            <textarea class="form-control" required formControlName="reason"></textarea>
                                            <div *ngIf="CancelForm.get('reason')?.invalid && CancelForm.get('reason')?.touched" class="text-danger">
                                                Please enter reason!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer margin-up-15">
                                        <div class="hstack gap-2">
                                            <button type="button" class="btn btn-danger font-type"(click)="cancelTraining()">Reject</button> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>                                          
                     <!-- End Reject Model-->
                  

            <!-- View Training Details Model Team-->
             <div class="modal fade zoomIn " id="viewTrainingDetailsTeam" tabindex="-1" aria-labelledby="viewTrainingDetailsTeam" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header bg-orange padding-up-5">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                        </div>
                        <form class="tablelist-form" autocomplete="off">
                            <div class="modal-body mb-2 pa-0">
                                <input type="hidden" id="id-field" />
                                <div class="card-body ma-5">
                                    <div class="table-responsive table-card">
                                        <table class="table table-nowrap align-middle table-bordered border-dark table-hover">
                                            <thead class="font-type">
                                            <tr>
                                                <th>Areas</th>
                                                <th>Training Name</th>
                                                <th width="15%">Employee</th>
                                                <th>Location</th>
                                                <th>Provider</th>
                                                <th>Proposed <br>Schedule</th>
                                                <th>Confirmed <br>Schedule</th>
                                                <th>Actual <br>Training<br>Date</th>
                                                <th>Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all font-type fs-11">
                                            <ng-container *ngFor="let item of viewdata">
                                                <tr class="font-type" *ngFor="let employee of item.Employees; let isFirst = first;">
                                                    <ng-container *ngIf="isFirst">                                                        
                                                        <td [attr.rowspan]="item.Employees.length" style="white-space: pre-wrap;">{{item.AREA_NAME}}</td>
                                                        <td [attr.rowspan]="item.Employees.length" style="white-space: pre-wrap;">{{item.SUBJECT_NAME}}</td>
                                                        <td class="p-1">{{employee.EMP_NAME}}</td>
                                                        <td [attr.rowspan]="item.Employees.length" style="white-space: pre-wrap;">{{item.LOCATION}}</td>
                                                        <td [attr.rowspan]="item.Employees.length" style="white-space: pre-wrap;">{{item.TRAINING_TYPE}}</td>
                                                        <td [attr.rowspan]="item.Employees.length">{{item.PROPOSED_QUARTER}}</td>                                                       
                                                        <td [attr.rowspan]="item.Employees.length">{{item.CONFIRMED_QUARTER}}</td> 
                                                        <td [attr.rowspan]="item.Employees.length">{{item.SCHEDULED_DATE | date: 'dd-MM-yyyy'}}</td>       
                                                        <td [attr.rowspan]="item.Employees.length">{{item.REMARKS}}</td>                                                 
                                                </ng-container>
                                                <ng-container *ngIf="!isFirst">
                                                    <td class="p-1">{{employee.EMP_NAME}}</td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>                                      
                                        
                                        </tbody>
                                    </table>
                                </div> 
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> 
             <!-- End View Training Details Model Team-->

            <!--END TEAM MODEL BOXES-->


    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->
