<!--  Begin page -->
<div id="layout-wrapper">

    <app-header></app-header>
    <!-- ========== App Menu ========== -->
    <app-sidemenu></app-sidemenu>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">
                <!--Download PDF Button-->
                <div class="d-flex align-items-center flex-wrap gap-2 mb-3" *ngIf="bankname">
                    <div class="flex-grow-1"></div>
                    <div class="flex-shrink-0">
                        <div class="hstack text-nowrap gap-2">
                            <button class="btn btn-success font-type"(click)="convertToPDF()"><i class="ri-file-pdf-line me-1 align-bottom"></i> Download PDF</button>
                        </div>
                    </div>
                </div>
                <!--End Download PDF Button-->

                <!--Acceptance Letter Style-->
            <div class="row"  style="justify-content: center;">
                 <div class="div-middle  mb-3 col-lg-10">
                    <div class="card p-3 shadow-lg" id="htmlElementId" *ngIf="!bankname">
                        <h6 class="text-danger fs-16 font-type text-center">Bank Data Not Available!</h6>
                    </div>

                        <div class="card p-3" id="htmlElementId" *ngIf="bankname">

                            <!--Header-->
                            <div class="row gy-2 ma-10 px-5">
                                <div class="col-sm-auto">
                                    <!-- <div class="avatar-title-lg p-1">
                                        <img *ngIf="companydata?.length > 0" src="assets\styles\img\{{companydata[0].LOGO}}" alt="" class="img-fluid-lg" width="350px" height="100px">
                                        <img src="" id="tableBanner" />
                                    </div> -->
                                    <div class="row gy-3" style="border-bottom: 3px ;">
                                        <!-- <img src={{hostname}}{{this.companyData[0].DATA_VALUE}} alt="" class="img-size"> -->
                                        <div class="avatar-title-lg p-1" *ngIf="this.companydata[0].COMPANY_ID=='Worldwide Oilfield Machine Middle East' || this.companydata[0].COMPANY_ID=='Worldwide Oilfield Machine Sales and Marketing Ltd' ">
                                            <img src="assets\styles\img\WOM Logo - 2024.png" alt="" class="img-size-cert">
                                        </div>
                                        <div class="avatar-title-lg p-1" *ngIf="this.companydata[0].COMPANY_ID=='WOM Valves & Controls International FZE' ">
                                            <img src="assets\styles\img\WVC-LOGO-2024.png" alt="" class="img-size-cert">
                                        </div>
                                        <div class="avatar-title-lg p-1" *ngIf="this.companydata[0].COMPANY_ID=='Magnum Technology Center FZE' ">
                                            <img src="assets\styles\img\MTC logo.png" alt="" class="img-size-cert">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm text-center">
                                    <h2 class="text-blue font-type fs-16 ma-10" style="font-weight: bold;"*ngIf="companydata?.length > 0">{{companydata[0].COMPANY_ID}}</h2>
                                    <h5 class="text-blue font-type fs-16" *ngIf="companydata?.length > 0">{{companydata[0].DESCRIPTION}}</h5>
                                    <h5 class="text-blue font-type fs-16" *ngIf="companydata?.length > 0">(UAE); {{companydata[0].PHONE_NO}}; {{companydata[0].EMAI_ID}}</h5> 
                                </div>
                            </div>
                            <hr>
                            <!--end Header-->

                            <!--Details-->   
                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <h6 class="fs-13 font-type fw-medium"> <span class="fw-semibold fs-13 text-italic"*ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].REQUEST_DATE | date:"MMMM d, y"}}</span></h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <h6 class="fs-13 font-type fw-medium">To:</h6>
                                        <h6 class="fs-13 font-type fw-medium">The Manager</h6>
                                        <h6 class="fs-13 font-type fw-medium"> <span class="fs-13 text-italic"*ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].BANK_NAME }}</span></h6>
                                        <h6 class="fs-13 font-type fw-medium">UAE</h6>
                                    </div>                                   
                                </div>
                            </div>

                            <div class="row mb-3 ma-10">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <!-- <h5 class="mb-1 font-type fw-semibold fs-18" style="text-decoration: underline;">SALARY TRANSFER CERTIFICATE </h5> -->
                                        <h6 class="fs-13 font-type fw-medium">Dear Ma’am/Sir,</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- <h6 class="fs-13 font-type fw-medium"> <span class="fw-semibold fs-13 text-italic"*ngIf="employmentdata?.length > 0">{{employmentdata[0].REQUEST_DATE | date:"dd-MM-yyyy"}}</span></h6> -->

                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <!-- <h5 class="mb-1 font-type fw-semibold fs-18" style="text-decoration: underline;">SALARY TRANSFER CERTIFICATE </h5> -->
                                        <h6 class="fs-13 font-type fw-semibold" style="text-decoration: underline;">Subject: SALARY TRANSFER- A/C No.  <span class="fs-13 text-italic"*ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].ACCOUNT_NO }}</span></h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <h6 class="fs-13 font-type fw-medium"*ngIf="salarytransferdata?.length > 0">This is to certify that <span class="fw-semibold fs-12 "><span>{{salarytransferdata[0].GENDER === 'Female' ? 'Ms.' : 'Mr.' }} </span>{{salarytransferdata[0].EMP_NAME}}</span> holder of  <span>{{salarytransferdata[0].PLACE}}</span> Passport number <span class="fw-semibold">{{salarytransferdata[0].DOCUMENT_NO}}</span> is employed by <span>{{salarytransferdata[0].EMP_WPS_COMPANY}}</span> as a  <span class="fw-semibold">{{salarytransferdata[0].DESIGNATION}}</span> since <span class="fw-semibold">{{salarytransferdata[0].DATE_OF_JOINING | date:"dd-MM-yyyy"}}</span> and draws a gross monthly salary of AED <span class="fw-semibold">{{salarytransferdata[0].GROSS_SALARY}}</span>/- </h6>                                            
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <h6 class="fs-13 font-type fw-medium">We confirm that  <span>{{salarytransferdata[0].GENDER === 'Female' ? 'her' : 'his' }}</span> salary is being transferred to the A/C No. <span class="fs-13 text-italic"*ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].ACCOUNT_NO }}</span> (IBAN No.  <span class="fs-13 text-italic"*ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].IBAN_NO }}</span> ) in   <span class="fs-13 text-italic"*ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].BANK_NAME }}</span> 
                                        and will continue to do that until <span>{{salarytransferdata[0].GENDER === 'Female' ? 'she' : 'he' }}</span> submits a clearance letter from you. </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <h6 class="fs-13 font-type fw-medium">In case of  <span>{{salarytransferdata[0].GENDER === 'Female' ? 'her' : 'him' }}</span> resignation or termination we will inform you accordingly and will transfer the final settlement of <span>{{salarytransferdata[0].GENDER === 'Female' ? 'her' : 'his' }}</span> dues to the above-mentioned account. </h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-lg-12 col-md-12">
                                    <!-- <div class="p-2">
                                        <h6 class="fs-13 font-type fw-medium">For <span *ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].EMP_WPS_COMPANY}}</span></h6>
                                    </div> -->
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <h6 class="fs-13 font-type fw-medium">Sincerely Yours,</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row ma-10 mb-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="px-5">
                                        <hr style="width:30%;text-align:left;margin-left:0">
                                        <!-- <h6 class="fs-13 font-type fw-semibold"*ngIf="salarytransferdata?.length > 0">{{salarytransferdata[0].HR_NAME}}</h6> -->
                                        <h6 class="fs-13 font-type fw-semibold">MERLIN VATHANA</h6>
                                        <h6 class="fs-13 font-type">HR Manager</h6>
                                    </div>
                                </div>
                            </div>

                            <!--End Details-->   
                        </div>
                           <!-- card body -->
                </div>
            </div>

                <div class="col-lg-12 mb-3">
                    <div class="hstack gap-1 justify-content-end">
                        <a href="javascript:history.back()">
                        <button type="button" class="btn btn-orange btn-label right ms-auto nexttab nexttab font-type text-white"><i class="ri-arrow-go-back-line label-icon align-middle fs-16 ms-2"></i>Back</button>
                        </a>
                    </div>
                </div>

             </div>
               <!-- container-fluid --> 
            </div>
              <!-- End Page-content -->

              <app-footer></app-footer>
    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->