 <!-- Begin page -->
 <div id="layout-wrapper">

    <app-header></app-header>

    <!-- ========== App Menu ========== -->
    <app-sidemenu></app-sidemenu>
   
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <!--Download PDF Button-->
            <div class="d-flex align-items-center flex-wrap gap-2 mb-3">
                <div class="flex-grow-1"></div>
                <div class="flex-shrink-0">
                    <div class="hstack text-nowrap gap-2">
                        <button class="btn btn-success font-type" (click)=convertToPDF()><i class="ri-file-pdf-line me-1 align-bottom"></i> Download PDF</button>
                    </div>
                </div>
            </div>
            <!--End Download PDF Button-->

            <!--Acceptance Letter Style-->
            
            <div class="div-middle shadow-lg mb-3" id="htmlElementId">
                    <div class="card-body p-3">

                       <!--Header-->
                       <div class="row gy-3 ma-5">
                        <div class="col-sm-auto">
                            <div class="avatar-title-lg p-1">
                                <!-- <img src="{{hostname}}{{this.companyData[0].DATA_VALUE}}" alt=""  class="img-size"> -->
                                <div class="avatar-title-lg p-1" *ngIf="this.companyData[0].COMPANY_ID=='Worldwide Oilfield Machine Middle East' || this.companyData[0].COMPANY_ID=='Worldwide Oilfield Machine Sales and Marketing Ltd' ">
                                    <img src="assets\styles\img\WOM Logo - 2024.png" alt="" class="img-size">
                                </div>
                                <div class="avatar-title-lg p-1" *ngIf="this.companyData[0].COMPANY_ID=='WOM Valves & Controls International FZE' ">
                                    <img src="assets\styles\img\WVC-LOGO-2024.png" alt="" class="img-size">
                                </div>
                                <div class="avatar-title-lg p-1" *ngIf="this.companyData[0].COMPANY_ID=='Magnum Technology Center FZE' ">
                                    <img src="assets\styles\img\MTC logo.png" alt="" class="img-size">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm text-center">
                            <h2 class="text-blue font-type" style="font-weight: bold;">{{this.companyData[0].COMPANY_ID}}</h2>
                            <h5 class="text-blue font-type" >{{this.companyData[0].DESCRIPTION}}</h5>
                            <h5 class="text-blue font-type" >(UAE); {{this.companyData[0].PHONE_NO}}; {{this.companyData[0].EMAI_ID}}</h5> 
                        </div>
                    </div>
                    <hr>
                    <!--end Header-->

                        <!--Employee Details-->   
                        <div class="row mb-3">
                            <div class="col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table class="table align-middle table-nowrap mb-0 table-bordered table-hover border-blue">
                                       <tbody class="font-type" *ngFor="let empdata of Empdetails">
                                          <tr class="h-20 bg-light-blue">
                                             <td width="50%"><span class="fs-12 font-type fw-medium">Employee Code</span></td>
                                             <td class="text-end" style="white-space: pre-wrap;"><span class="fs-12 font-type fw-semibold">{{empdata.EMP_CODE}}</span></td>
                                          </tr>
                                          <tr class="h-20">
                                            <td width="50%"><span class="fs-12 font-type fw-medium">Employee</span></td>
                                            <td class="text-end" style="white-space: pre-wrap;"><span class="fs-12 font-type fw-semibold">{{empdata.EMP_NAME}}</span></td>
                                         </tr>
                                         <tr class="h-20 bg-light-blue">
                                            <td width="50%"><span class="fs-12 font-type fw-medium">Joining Date</span></td>
                                            <td class="text-end" style="white-space: pre-wrap;"><span class="fs-12 font-type fw-semibold">{{empdata.DATE_OF_JOINING | date : 'dd-MM-yyyy'}}</span></td>
                                         </tr>
                                         <tr class="h-20">
                                            <td width="50%"><span class="fs-12 font-type fw-medium">Department</span></td>
                                            <td class="text-end" style="white-space: pre-wrap;"><span class="fs-12 font-type fw-semibold">{{empdata.DEPARTMENT}}</span></td>
                                         </tr>
                                         <tr class="h-20 bg-light-blue">
                                            <td width="50%"><span class="fs-12 font-type fw-medium">Designation</span></td>
                                            <td class="text-end" style="white-space: pre-wrap;"><span class="fs-12 font-type fw-semibold">{{empdata.DESIGNATION}}</span></td>
                                         </tr>
                                         <tr class="h-20">
                                            <td width="50%"><span class="fs-12 font-type fw-medium">Last Day of Work</span></td>
                                            <td class="text-end" style="white-space: pre-wrap;"><span class="fs-12 font-type fw-semibold">{{empdata.LAST_WORKING_DATE | date : 'dd-MM-yyyy'}}</span></td>
                                         </tr>
                                         <tr class="h-20 bg-light-blue">
                                            <td width="50%"><span class="fs-12 font-type fw-medium">Completed Period </span></td>
                                            <td class="text-end" style="white-space: pre-wrap;"><span class="fs-12 font-type fw-semibold">{{empdata.COMPLETED_DAYS}} days - {{empdata.COMPLETED_PERIOD}}</span></td>
                                         </tr>
                                       </tbody>
                                       <!-- end tbody -->
                                    </table>
                                    <!-- end table -->
                                 </div>
                                 <!-- end table responsive -->
                            </div>
                         </div>
                       <!--End Employee Details--> 

                       <!--Salary Details--> 
                       <div class="row mb-2">
                        <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0 table-bordered table-hover border-success">
                                    <tbody class="font-type">
                                        <tr *ngFor="let salarydata of salarydetails; let i = index" [class.bg-success-subtle]="i % 2 === 0" class="h-20">
                                            <td width="50%" style="white-space: pre-wrap;">{{ salarydata.ALLOWANCE_NAME }}</td>
                                            <td class="text-end"><span class="fs-12 font-type fw-semibold">{{ salarydata.AMOUNT.toFixed(2) }}</span></td>
                                        </tr>
                                    </tbody><!-- end tbody -->
                                    <tfoot class="font-type ma-10 border-success">
                                        <tr>
                                            <td colspan="1" class="fw-semibold fs-12 text-blue">Total Salary</td>
                                            <td class="fw-semibold fs-12 text-blue text-end">{{GROSS_SALARY}}</td>
                                        </tr>
                                        <tr class="bg-success">
                                            <td class="fw-semibold fs-13 text-white text-end" colspan="2">{{GROSS_SALARY  | numberToWords }}</td>
                                        </tr>
                                    </tfoot>
                                </table><!-- end table -->
                            </div>
                             <!-- end table responsive -->
                        </div>
                       </div>
                      <!--End Salary Details--> 

                         <!--Addition Details--> 
                          <div class="row mb-2">
                            <div class="col-md-12 col-lg-12">
                            <h6 class="fs-13 lh-base font-type fw-semibold text-uppercase mb-1 text-center">Gratuity Per Year</h6>
                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap mb-0 table-bordered table-hover border-blue">
                                    <tbody class="font-type">
                                        <tr class="h-20 bg-info-subtle">
                                            <td width="50%" class="fw-semibold fs-13" style="white-space: pre-wrap;">{{yearofservice}}</td>
                                            <td class="text-end fw-semibold fs-13"><span class="fs-12 font-type fw-semibold">{{gratuityamount}}</span></td>                                               
                                        </tr>
                                        <tr class="h-20">
                                            <td width="50%" style="white-space: pre-wrap;">Gratuity</td>
                                            <td class="text-end"><span class="fs-12 font-type fw-semibold">{{gratuityamount}}</span></td>
                                        </tr>
                                        <tr class="h-20 bg-info-subtle">
                                            <td width="50%" style="white-space: pre-wrap;">Notice Period Salary </td>
                                            <td class="text-end"><span class="fs-12 font-type fw-semibold">0.00</span></td>
                                        </tr>
                                    </tbody><!-- end tbody -->
                                </table><!-- end table -->
                            </div>
                           <!-- end table responsive -->
                            </div>
                           </div>
                          <!--End Addition Details-->        

                                  <!--Gratuity Details--> 
                                  <div class="row mb-2">
                                    <div class="col-md-12 col-lg-12">
                                    <h6 class="fs-13 lh-base font-type fw-semibold text-uppercase mb-1 text-center">Additions</h6>
                                    <div class="table-responsive">
                                        <table class="table align-middle table-nowrap mb-0 table-bordered table-hover border-blue">
                                            <tbody class="font-type">
                                                <tr *ngFor="let item of payType1Data; let i = index" [class.bg-info-subtle]="i % 2 === 0" class="h-20">
                                                    <td width="50%" style="white-space: pre-wrap;">{{ item.PAY_CATEGORY }}</td>
                                                    <td class="text-end"><span class="fs-12 font-type fw-semibold">{{ item.AMOUNT.toFixed(2) }}</span></td>
                                                </tr>
                                            </tbody><!-- end tbody -->
                                            <tfoot class="font-type ma-10 border-white h-20 bg-blue">
                                                <tr>
                                                    <td colspan="1" class="fw-semibold fs-13 text-white">Total Additions</td>
                                                    <td class="fw-semibold fs-13 text-blue text-end text-white">{{TOTAL_ADDITION}}</td>
                                                </tr>
                                            </tfoot>
                                        </table><!-- end table -->
                                    </div>
                                   <!-- end table responsive -->
                                    </div>
                                   </div>
                                  <!--End Gratuity Details-->    

                                <!--Deduction Details-->   
                                  <div class="row mb-2">
                                    <div class="col-md-12 col-lg-12">
                                        <h6 class="fs-13 lh-base font-type fw-semibold text-uppercase mb-1 text-center">DEDUCTIONS</h6>
                                        <div class="table-responsive">
                                            <table class="table align-middle table-nowrap mb-0 table-bordered table-hover border-success">
                                                <tbody class="font-type">
                                                    <tr *ngFor="let item2 of payType2Data; let i = index" [class.bg-success-subtle]="i % 2 === 0" class="h-20">
                                                        <td width="50%" style="white-space: pre-wrap;">{{ item2.PAY_CATEGORY }}</td>
                                                        <td class="text-end"><span class="fs-12 font-type fw-semibold">{{ item2.AMOUNT.toFixed(2) }}</span></td>
                                                    </tr>
                                                </tbody><!-- end tbody -->
                                                <tfoot class="font-type ma-10 border-white bg-success">
                                                    <tr>
                                                        <td colspan="1" class="fw-semibold fs-13 text-white">Total Deductions</td>
                                                        <td class="fw-semibold fs-13 text-white text-end">{{TOTAL_DEDUCTION}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table><!-- end table -->
                                        </div>
                                         <!-- end table responsive -->
                                    </div>
                                   </div>
                                <!--End Deduction Details-->   
                  

            <!-- NET PAYABLE -->
            <!-- Secondary Alert -->
            <div class="alert bg-info-subtle material-shadow pa-6-8">
                <div class="row align-items-center">
                    <div class="col-sm">
                        <div class="align-items-center d-flex">
                            <h5 class="card-title fw-semibold text-uppercase text-blue ma-5">Net Payable</h5>
                        </div>
                    </div>
                    <div class="col-sm-auto">
                        <div class="d-flex gap-1 flex-wrap">
                            <h5 class="fw-semibold fs-15 text-blue ma-5">{{NET_AMOUNT}}</h5>  
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="fs-13 font-type fw-semibold mb-4">I have received all my dues and final settlement from the company.</h6>
             <!--END NET PAYABLE -->

             <div class="row ma-10">
                <div class="col-lg-12 col-md-12">
                    <div class="p-2">
                        <hr style="width:30%;text-align:left;margin-left:0">
                        <h6 class="fs-13 font-type">{{EMPNAME}}</h6>
                        <h6 class="fs-13 font-type">{{LAST_WORKING_DATE | date:'dd-MM-yyyy'}}</h6>
                    </div>
                </div>
            </div>

         </div>
            </div>

            <!-- card body -->
            <div class="col-lg-12 mb-4">
                <div class="hstack gap-1 justify-content-end">
                    <a href="resignationReq">
                    <button type="button" class="btn btn-orange btn-label right ms-auto nexttab nexttab font-type text-white"><i class="ri-arrow-go-back-line label-icon align-middle fs-16 ms-2"></i>Back</button>
                    </a>
                </div>
            </div>

         </div>
           <!-- container-fluid --> 
        </div>
          <!-- End Page-content -->

          <app-footer></app-footer>
</div>
<!-- end main content-->

</div>
<!-- END layout-wrapper -->