.disabled {
    opacity: 0.5; /* Adjust the opacity as needed */
    pointer-events: none;
    /* Add any other styles to visually indicate a disabled state */
  }

  .disabledAll {
    opacity: 0.5; /* Adjust the opacity as needed */
    pointer-events: none;
  }

  #loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 40%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
  }

  #loading-bar-spinner.spinner .spinner-icon {
      width: 80px;
      height: 80px;
      border:  solid 6px transparent;
      border-top-color:   #f1963b !important;
      border-left-color: #f1963b !important;
      border-radius: 50%;
  }

  @keyframes loading-bar-spinner {
    0%   { transform: rotate(0deg);   transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
  }
  