

    <!-- Begin page -->
<div id="layout-wrapper">

    <app-header></app-header>

        <!-- ========== App Menu ========== -->
        <!-- <app-sidemenu></app-sidemenu> -->
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col">

                            <div class="h-100">
                                <div class="row mb-3 pb-1">
                                    <div class="col-12">
                                        <div class="d-flex align-items-lg-center flex-lg-row flex-column">
                                            <div class="flex-grow-1">
                                                <h4 class="fs-16 mb-1">Good Morning, {{name}}!</h4>
                                                <p class="text-muted mb-0" style="color:rgb(97, 94, 94)"><span style="font-weight: bold;">HOME</span> / Dashboard</p>
                                            </div>
                                        </div><!-- end card header -->
                                    </div>
                                    <!--end col-->
                                </div>
                                <!--end row-->

                                <div class="row">
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                          <img src="assets\styles\img\emp.png" alt="Profile" >
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Employee</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">profile</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\dollar.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Payroll</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Management</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\learning.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Learning &</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Development</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    
                                     <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\comp.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Competency</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">& Skills</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='timetracker'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\time.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Time</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Tracking</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->
                                    
                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\absence.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Absence &</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Leave</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\master data.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Master Data</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Management</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\request.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Service &</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Requests</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\performance.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Performance</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Review</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\hiring.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Hiring &</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Recruitment</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\business.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Onboarding /</p>
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;">Offboarding</p>
                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->

                                    <div class="col-xl-2 col-md-6">
                                        <!-- card -->
                                        <div class="card card-animate">
                                            <div class="card-body" style="padding-top:0px;padding-bottom:0px;">
                                               
                                              
                                                    <div onclick="location.href='#'">
                                                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                                                           
                                                        <img src="assets\styles\img\plus.png" alt="Profile">
                                                          <p class="text-uppercase fw-medium text-muted text-truncate mb-0" style="font-size: 10px;margin-top: 15px">Add New Item</p>

                                                            
                                                          <h6></h6>
                                                        </div>
                                                      </div>
                                             
                                            </div><!-- end card body -->
                                        </div><!-- end card -->
                                    </div><!-- end col -->







                                </div> <!-- end row-->

                            </div> <!-- end .h-100-->

                        </div> <!-- end col -->
                    </div>

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <app-footer></app-footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


