    
    <!-- Begin page -->
    <div id="layout-wrapper">
        <app-header></app-header>
                <!-- ========== App Menu ========== -->
                <app-sidemenu></app-sidemenu>
                <!-- Left Sidebar End -->
                <!-- Vertical Overlay-->
                <div class="vertical-overlay"></div>
                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">
                    <div class="page-content">
                        <div class="container-fluid">
        
                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                        <h4 class="mb-sm-1" style="margin-top: 10px;">Biometric Data</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->
                            <div class="topbar-up row">
                                <div class="col-lg-12 col-md-12">
                                <div class="card" style="background-color: #fff3eb">                  
                                <div class="card-body border border-top-0 border-end-0 border-start-0">
                                <div class="row">
                                    <div class="live-preview">
                                  
        
                                        <form action="javascript:void(0);">
                                            <div class="row gx-3 gy-2 align-items-center font-type">
                                                <div class="col-sm-4">
                                                   
                                             
                                                    <label for="specificSizeInputName">Biometric Data Updated Till :</label>
                                       
                                                    <label for="specificSizeInputName" *ngIf="processdates.length>0" class="fw-semibold fs-16 text-orange">{{processdates[0].TO_DATE | date: 'dd-MM-yyyy'}}</label>
                                                
                                                </div>
                                                <!--end col-->
                                                <div class="col-sm-4">
                                                   
                                                    <label for="specificSizeInputName"> Data Processed Till :</label>
                                            
                                                    <label for="specificSizeInputName" *ngIf="processdates.length>0" class="fw-semibold fs-16 text-orange">{{processdates[0].FROM_DATE | date: 'dd-MM-yyyy'}}</label>
                                                </div>
                                                <div class="col-sm-4">
                                                    <a href="FileUpload"><button type="button" class="btn btn-orange" style="float: right;"> <i class="ri-upload-2-line"></i><span class="ms-2">Upload & Sync</span></button></a>
                                                </div>
                                                <!--end col-->
                                         
                                                </div>
                                                <!--end col-->
                                             
                                                <!--end col-->
                                           
                                            <!--end row-->
                                        </form>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>                      
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card" id="searchInput">
                                     
                                        <div class="card-body border-bottom-dashed border-bottom">
                                            <form>
                                                <div class="row g-3">
                                                    <div class="col-lg-2 col-sm-6">
                                                        <h3 class="font-type fs-12"><span>From Date</span></h3>
                                                        <input type="date" class="form-control font-type fs-11" id="fromdt" name="fromdt"  [value]="currentDate | date:'yyyy-MM-dd'"  (change)="viewbiometricdata_filter()">
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-2 col-sm-6">
                                                        <div>
                                                            <h3 class="font-type fs-12"><span>To Date</span></h3>
                                                            <input type="date" class="form-control font-type fs-11" id="todt" name="todt" [value]="currentDate | date:'yyyy-MM-dd'"  (change)="viewbiometricdata_filter()">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-lg-2 col-sm-6">
                                                        <h6 class="fs-12 font-type"><span>Company</span></h6>
                                                        <select class="form-select font-type fs-11" aria-label="Default select example" id="company" name="company" #company (change)="DepartmentListFn(company.value)">
                                                            <option  value="-1" [defaultSelected]>All</option>
                                                            <option *ngFor="let CompanyList of listCompany" value="{{CompanyList.KEY_ID}}">{{CompanyList.DATA_VALUE}}</option>
                                                        </select>      
                                                     </div>
                                                     <div class="col-lg-2 col-sm-6">
                                                        <h6 class="font-type fs-12"><span>Department </span></h6>
                                                        <select class="form-select font-type fs-11" aria-label="Default select example" id="department" name="department" #department required (change)="EmployeeListFn(department.value,company.value)">
                                                            <option  value="-1" [defaultSelected]>All</option>
                                                            <option  *ngFor="let DepartmentList of listDepartment" value="{{DepartmentList.KEY_ID}}">{{DepartmentList.DATA_VALUE}}</option>
                                                        </select>
                                                 
                                                    </div>
                                                     <div class="col-lg-2 col-sm-6">  
                                                        <h6 class="font-type fs-12"><span>Employee Name </span></h6>
                                                        <select class="form-select font-type fs-11" aria-label="Default select example" id="emp_code" name="emp_code" #emp_code required (change)="viewbiometricdata_filter()">
                                                            <option value="-1">All</option>
                                                            <option  *ngFor="let EmployeeList of listEmployee" value="{{EmployeeList.EMP_CODE}}">{{EmployeeList.EMP_NAME}}</option>
                                                        </select>                      
                                                    </div>
                                                    <div class="col-lg-2 col-sm-6" >
                                                        <label></label>
                                                        <div>
                                                            <button type="submit" style="margin-top: 4px!important;display: none;" class="btn btn-orange font-type fs-12 add-button text-white" (click)="viewReport()"> <i class="ri-file-text-line"></i>
                                                                View Report
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                  
                                                    <!--end col-->
                                                </div>
        
                                              
                                                <!--end row-->
                                            </form>
                                        </div>
                                      
                                    </div>
        
                                </div>
                                <!--end col-->
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card" id="orderList">
                                        <div class="card-header border-bottom" style="padding-bottom: 10px;padding-top: 10px;">
                                            <div class="row align-items-center gy-3">
                                                <div class="col-sm">
                                                    <h6 class="card-title" style="font-weight: bold;">Biometric Data</h6>
                                                </div>
                                                <div class="col-sm-auto">
                                                 
        
                                                    <div class="search-box" hidden>
                                                        <input type="text" class="form-control searchInput" id="searchInput" [(ngModel)]="searchInput" name="searchInput" placeholder="Search" aria-label="search" aria-describedby="search_icon">
                                                        <i class="ri-search-line search-icon"></i>
                                                    </div>
        
                                                
                                                </div>
                                                <div class="col-sm-auto"hidden>
                                                    <div class="d-flex flex-wrap">
        
                                                        <a href="FileUpload"><button type="button" class="btn btn-soft-success"><i class="fa fa-upload" ></i>Upload</button></a>
        
                                                    </div>
                                                </div>
                                                <div class="col-sm-auto"hidden>
                                                    <div class="d-flex flex-wrap">
        
                                                        <button type="button" class="btn btn-soft-success"><i class="ri-file-excel-2-line" ></i>Download</button>
        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="card-body border-bottom">
                                              
                                       
                                            <!--end col-->
                                    
                                        <div class="col-xxl-12">
                                            <div class="card card-height-100">
                                             
                                                <div class="card-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-nowrap align-middle mb-0"  style="padding-top:0px" >
                                                            <thead  class="table-light text-white font-type">
                                                                <tr>
                                                                    <th>Emp Code</th>
                                                                    <th>Employee</th>
                                                                    <th>Company</th>
                                                                    <th>Department</th>
                                                                    <th>IN Date</th>
                                                                    <th>Out Date</th>
                                                                    <th>Login</th>
                                                                    <th>Logout</th>
                                                                    <th>Working Hrs</th>
                                                                </tr>
                                                            </thead> 
                
                                                            <tbody class="list form-check-all font-type fs-11">
                                                                <tr class="trstyle fs-11" *ngFor="let listdailyattendance of biometricdata | search : searchInput | pagination: currentPage: itemsPerPage;">
                                                                    <td>{{listdailyattendance.EMP_CODE}}</td>
                                                                    <td>{{listdailyattendance.EMP_NAME}}</td>
                                                                    <td>{{listdailyattendance.COMPANY_CODE}}</td>
                                                                    <td>{{listdailyattendance.DEPT}}</td>
                                                                    <td>{{listdailyattendance.IN_DATE | date:"dd-MM-yyyy"}}</td>
                                                                    <td>{{listdailyattendance.OUT_DATE | date:"dd-MM-yyyy"}}</td>
                                                                    <td>{{listdailyattendance.INTIME}}</td>
                                                                    <td>{{listdailyattendance.OUTTIME}}</td>
                                                                    <td>{{listdailyattendance.WORKINGHRS}}</td>
                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                       
                                                     
                                                    </div><!-- end table responsive -->
                                                    <br>
                                                    <div *ngIf="biometricdata">
                                                        <div class="align-items-center justify-content-between row text-center text-sm-start"*ngIf="totalSearchResults>0">
                                                            <div class="col-sm">
                                                              <div class="font-type fs-12 text-muted">
                                                                Showing <span class="fw-semibold">{{ getEntriesStart() }}</span>
                                                                - <span class="fw-semibold">{{ getEntriesEnd() }}</span>
                                                                of <span class="fw-semibold">{{ totalSearchResults }}</span> Results
                                                              </div>
                                                            </div>
                                                            <div class="col-sm">
                                                                <div class="font-type fs-12 text-muted">
                                                                    Total Pages : <span class="fw-semibold"> {{ getTotalPages() }}</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-auto mt-4 mt-sm-0">
                                                                <div class="d-flex gap-1 flex-wrap">
                                                                    <div>
                                                                        <div class="input-group">
                                                                <input type="number" class="form-control h-20 font-type" style="width:100px" aria-describedby="button-addon2" placeholder="Go to Page" [(ngModel)]="desiredPage" tabindex="1">                                                                    
                                                                
                                                               <button class="btn btn-orange text-white font-type fs-12 h-20" type="button" id="button-addon2"(click)="goToPage()" tabindex="2">Go</button>
                                                          </div>
                                                        </div>
                                                             
                                                            <div class="col-sm-auto mt-3 mt-sm-0">
                                                              <ul class="pagination pagination-separated pagination-sm mb-0 justify-content-center">
                                                                <li class="page-item">
                                                                  <button class="page-link" (click)="changePage(currentPage - 1)" [class.disabled-button]="currentPage === 1">←</button>
                                                                </li>
                                                                <ng-container *ngFor="let pageNumber of getPageNumbers(currentPage)">
                                                                  <li class="page-item">
                                                                    <button class="page-link" (click)="changePage(pageNumber)" [class.active]="currentPage === pageNumber">{{ pageNumber }}</button>
                                                                  </li>
                                                                </ng-container>
                                                                <li class="page-item">
                                                                  <button class="page-link" (click)="changePage(currentPage + 1)" [class.disabled-button]="currentPage * itemsPerPage >= totalSearchResults">→</button>
                                                                </li>
                                                              </ul>
                                                            </div>
                                                          </div>
                                                </div>
                                            </div>
                                                    </div> 
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div> 
                                              
                                           
                                          
                                 
                                    </div>
        
                                </div>
                                <!--end col-->
                             <button id="openModalButton" [hidden]="true" data-bs-toggle="modal" data-bs-target="#SuccessRecordModal">Open Modal</button> 
                                <!--Modal For Success Message Start-->
                                <div class="modal fade zoomIn" id="SuccessRecordModal" tabindex="-1" aria-labelledby="deleteRecordLabel" aria-hidden="true" >
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header bg-orange padding-up-5">
                                                <h5 class="modal-title" id="exampleModalLabel">&nbsp;</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                                            </div>
                                            <div class="modal-body" *ngIf="showModal==1"> 
                                                <div class="container">
                                                    <h2 class="text-center" style="font-size: 12px;"><i class="fa fa-check-circle text-success" style="font-size: 25px;" style="font-size: 12px;"></i> {{success}}</h2>
                                            
                                                </div>
                                            </div>
                                            <div class="modal-body" *ngIf="showModal==2">
                                            <div class="container">
                                                <h2 class="text-center" style="font-size: 12px;"><i class="fa fa-times-circle text-danger" style="font-size: 25px;" style="font-size: 12px;"></i> {{failed}}</h2>
                                                
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            <!--Modal For Success Message End-->
                            </div>
                            <!--end row-->
        
                        </div>
                        <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->
                    <app-footer></app-footer>
                </div>
                <!-- end main content-->
            </div>
            <!-- END layout-wrapper -->
        



